body {
  background-color: #f5f5f5;
  font-size: 1rem;
}

.chat-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 10px;
}

.chat-history {
  height: 80vh;
  overflow-y: auto;
  background-color: #fff;
  border-radius: 5px;
  padding: 10px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.chat-window {
  height: 70vh;
  overflow-y: auto;
  background-color: #f5f5f5;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 10px;
}

.bg-bot {
  background-color: #eaf3ff;
  border-radius: 15px 15px 15px 3px;
  padding: 6px 10px;
  margin-bottom: 4px;
  max-width: 80%;
}

.bg-user {
  background-color: #fff7a3;
  color: rgb(0, 0, 0);
  border-radius: 15px 15px 3px 15px;
  padding: 6px 10px;
  margin-bottom: 4px;
  max-width: 80%;
  margin-left: auto;
  text-align: right;
}

.chat-message {
  padding: 4px 10px; 
  margin-bottom: 2px; }


#messageInput {
  resize: none;
  border-radius: 20px;
  padding: 10px;
  font-size: 1rem;
}

.card {
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  border: none;
}

#sendButton {
  font-size: 1.1rem;
  padding: 0 20px;
}

.markdown {
  word-break: break-word;
    white-space: normal;
   
  
}
